<br><br>
<div class="container" style="max-width: 600px; background-color:rgb(233, 211, 183);">
    
    <h2 class="textual">User Registration</h2>
    <form #Registerform = "ngForm"(ngSubmit)="registerUser()">
        
        <!--<small [class.text-danger]="msg.status==500">{{msg.message}}</small>-->
        <div class="form-group">
            <label for="Email">Email address</label>
            <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email" name= "email" [(ngModel)]="patient.email" required pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
            #email="ngModel"
            [class.is-invalid]="email.invalid && email.touched"
            >
           
            <div *ngIf="email.errors && (email.invalid && email.touched)">
                <small class="text-danger" *ngIf="email.errors.required">Email is required field</small>
                <small class="text-danger" *ngIf="email.errors.pattern">Enter the valid value of email</small>
            </div>
          </div>
          <!--FIRSTNAME-->
          <div class="form-group">
              <label for="FirstName">First Name:</label>
              <input type="text" class="form-control" placeholder="FirstName" name="firstName" [(ngModel)]="patient.FirstName" #firstName="ngModel" required
              [class.is-invalid]="firstName.invalid && firstName.touched">
              <small class = "text-danger" [class.d-none]="firstName.valid || firstName.untouched">FirstName is required field</small>
          </div>

          <!--LASTNAME-->
          <div class="form-group">
            <label for="LastName">Last Name:</label>
            <input type="text" class="form-control" placeholder="Last Name" name="lastName" [(ngModel)]="patient.LastName" #lastName="ngModel" required
            [class.is-invalid]="lastName.invalid && lastName.touched">
            <small class = "text-danger" [class.d-none]="lastName.valid || lastName.untouched">LastName is required field</small>
        </div>

        <!--Ci-->
        <div class="form-group">
            <label for="Ci">CI:</label>
            <input type="number" class="form-control" placeholder="Ci" name="ci" [(ngModel)]="patient.Ci" #ci="ngModel" required
            [class.is-invalid]="ci.invalid && ci.touched">
            <small class = "text-danger" [class.d-none]="ci.valid || ci.untouched">Ci is required field</small>
        </div>

        <!--USERNAME-->
        <div class="form-group">
            <label for="UserName">User Name:</label>
            <input type="text" class="form-control" placeholder="User Name" name="userName" [(ngModel)]="patient.UserName" #userName="ngModel" required
            [class.is-invalid]="userName.invalid && userName.touched">
            <small class = "text-danger" [class.d-none]="userName.valid || userName.untouched">User Name is required field</small>
        </div>

        <!--PASSWORD-->
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control"  placeholder="Password" name="password" [(ngModel)]="patient.Password" #password="ngModel" required
            [class.is-invalid]="password.invalid && password.touched"
            >
            <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is required field</small>
          </div>

        <button type="submit" class="btn btn-info">Register</button>
        <small class="float-right btextual" [routerLink]="['/login']">Login Here </small>
    </form>
    <br>
</div>