<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
   <section class="main">
      <h2 class="main__title">Lista de Pacientes</h2>
      <input type="text" class="input" name="filterPost" placeholder="Buscar paciente" [(ngModel)]="filterPost">
   </section>
   <div class="table__list" align="center">
      <button  type="submit" class="button" [routerLink]="['/listpatientPDF']">Descargar</button>
       <mat-tab-group>
        <mat-tab label="Lista Pacientes">
            <table id="myTable" class="table table-striped">
                <thead>
                   <tr>
                      <th scope="col">Nombres</th>
                      <th scope="col">Apellidos</th>
                      <th scope="col">CI</th>
                      <th scope="col">Estado</th>
                      <th scope="col">Correo</th>
                      <th scope="col">Username</th>
                   </tr>
                </thead>
                <tbody *ngFor="let p of listpatient| filter:filterPost">
                       <td>{{p.firstName}}</td>
                       <td>{{p.lastName}}</td>
                       <td>{{p.ci}}</td>
                       <td>{{p.lastStatus}}</td>
                       <td>{{p.correo}}</td>
                       <td>{{p.username}}</td>
                </tbody>
             </table>
        </mat-tab>
        <mat-tab label="Lista de Nombres">
            <table id="myTable" class="table table-striped">
              <thead>
                 <tr>
                    <th scope="col">Nombres</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Estado</th>
                 </tr>
              </thead>
              <tbody *ngFor="let p of listpatient">
                <td>{{p.firstName}}</td>
                <td>{{p.lastName}}</td>
                <td>{{p.lastStatus}}</td>
              </tbody> 
           </table>
          </mat-tab>
       </mat-tab-group>
  </div>

</body>
</html>


