<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
   <div class="table__list" align="center">
      <h1 >Lista de Pacientes</h1>
      <hr>
      <button  type="submit" class="button" [routerLink]="['/listpatientPDF']">Descargar</button>

       <!-- <table id="myTable" class="table table-striped">
          <thead>
             <tr>
                <th scope="col">Nombres</th>
                <th scope="col">Apellidos</th>
                <th scope="col">CI</th>
                <th scope="col">Estado</th>
                <th scope="col">Correo</th>
                <th scope="col">Username</th>
             </tr>
          </thead>
          <tbody *ngFor="let p of listpatient">
                 <td>{{p.firstName}}</td>
                 <td>{{p.lastName}}</td>
                 <td>{{p.ci}}</td>
                 <td>{{p.lastStatus}}</td>
                 <td>{{p.correo}}</td>
                 <td>{{p.username}}</td>
          </tbody>
       </table> -->
       <mat-tab-group>
        <mat-tab label="Lista Pacientes">
            <table id="myTable" class="table table-striped">
                <thead>
                   <tr>
                      <th scope="col">Nombres</th>
                      <th scope="col">Apellidos</th>
                      <th scope="col">CI</th>
                      <th scope="col">Estado</th>
                      <th scope="col">Correo</th>
                      <th scope="col">Username</th>
                   </tr>
                </thead>
                <tbody *ngFor="let p of listpatient">
                       <td>{{p.firstName}}</td>
                       <td>{{p.lastName}}</td>
                       <td>{{p.ci}}</td>
                       <td>{{p.lastStatus}}</td>
                       <td>{{p.correo}}</td>
                       <td>{{p.username}}</td>
                </tbody>
             </table>
        </mat-tab>
        <mat-tab label="Lista de Nombres">
            <table id="myTable" class="table table-striped">
              <thead>
                 <tr>
                    <th scope="col">Nombres</th>
                    <th scope="col">Apellidos</th>
                 </tr>
              </thead>
              <tbody *ngFor="let p of listpatient">
                <td>{{p.firstName}}</td>
                <td>{{p.lastName}}</td>
              </tbody>
           </table>
          </mat-tab>
       </mat-tab-group>
  </div>

</body>
</html>


