<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
  <title>Login</title>
</head>
<body>
  
    <header>
      <h1>Login Paciente
      </h1>
        <div >
          <div>
            <ul>
              <li><a [routerLink]="['/sintomasPa']">Mis Sintomas</a></li>
              <li><a href=""></a>Mis Tratamientos</li>
              <li><a [routerLink]="['/subscription']">Suscribirse</a></li>
              <li><a [routerLink]="['/login']">Logout</a></li>
            </ul>
          </div>
        </div>
        
        
      </header>
      
      <section class="login">
        <mat-tab-group>
          <mat-tab label="Resultados">
            <table id="myTable" class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Covid</th>
                  <th scope="col">Porcentaje</th>
                </tr>
              </thead>
              <tbody *ngfor="let p of mensaje">
                  <td>{{p.covid}}</td>
                  <td>{{p.porcentaje}}</td>
              </tbody>
            </table>

          </mat-tab>
        </mat-tab-group>

      </section>

      <footer class="footer">
        <a href="/">Terminos de uso</a>
        <a href="/">Declaración de privacidad</a>
        <a href="/">Centro de ayuda</a>
        <a href="/">Quienes somos</a>
      </footer>

</body>