<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
  <title>Login</title>
</head>
<body>
  <header class="header">
    <img class="header__img" src="../assets/clinica.png" alt="Img doctor">
  </header>
  <section class="login">
    <section class="login__container">
      <h2>Iniciar sesión</h2>
      <form class="login__container--form" #loginform="ngForm" (ngSubmit)="loginUser()">
        <small class="text-danger">{{msg}}</small>
        <input class="input" type="email" placeholder="Correo"  name= "email" [(ngModel)]="patient.correo" required pattern="\w+@[a-zA-Z_]+?.[a-zA-Z]{2,3}$"
        #email="ngModel"
        [class.is-invalid]="email.invalid && email.touched">
        <div *ngIf="email.errors && (email.invalid && email.touched)">
          <small class="text-danger" *ngIf="email.errors.required">Email is required field</small>
          <small class="text-danger" *ngIf="email.errors.pattern">Enter the valid value of email</small>
        </div>
        <input class="input" type="password" placeholder="Contraseña" name="password" [(ngModel)]="patient.Password" #password="ngModel" required
        [class.is-invalid]="password.invalid && password.touched">
        <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is required field</small>
        <button [disabled]="loginform.form.invalid" type="submit" class="button">Iniciar sesion</button>
      </form>
      <div class="login__container--show">
        <p class="login__container--register">No tienes ninguna cuenta <a>Regístrate</a></p>
        <ul>
          <li class="login__container--show--item"><a [routerLink]="['/registration']">Paciente</a></li>
          <li class="login__container--show--item"><a [routerLink]="['/regisdoct']">Doctor</a></li>
        </ul>
      </div>
    </section>
  </section>
  <footer class="footer">
    <a href="/">Terminos de uso</a>
    <a href="/">Declaración de privacidad</a>
    <a href="/">Centro de ayuda</a>
  </footer>
</body>
</html>