<div style="min-width: 100%; min-height:200%;background-color:rgb(177, 174, 174)">
<br>
<div class="container" style="max-width: 600px; background-color:rgb(233, 211, 183);">
<h2>
    Log In
</h2>

<form #loginform="ngForm" (ngSubmit)="loginUser()">
    <small class="text-danger">{{msg}}</small>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email" name= "email" [(ngModel)]="patient.correo" required pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
      #email="ngModel"
      [class.is-invalid]="email.invalid && email.touched"
      >
     
      <div *ngIf="email.errors && (email.invalid && email.touched)">
          <small class="text-danger" *ngIf="email.errors.required">Email is required field</small>
          <small class="text-danger" *ngIf="email.errors.pattern">Enter the valid value of email</small>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control"  placeholder="Password" name="password" [(ngModel)]="patient.Password" #password="ngModel" required
      [class.is-invalid]="password.invalid && password.touched"
      >
      <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is required field</small>
    </div>

    <button [disabled]="loginform.form.invalid" type="submit" class="btn btn-info">Submit</button>
  
  <small class="float-right" [routerLink]="['/registration']">Register</small>
</form>
</div>
</div>