<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
  <title>Login</title>
  
</head>
<body>
  
    <header>
      <img class="header__img" src="../assets/barbijo.png" alt="barbijo">
        <div >
          <div>
            <ul>
              <li><a [routerLink]="['/sintomasPa']">Mis Sintomas</a></li>
              <li><a [routerLink]="['/recomendaciones']">Recomendaciones</a></li>
              <li><a [routerLink]="['/resultados']">Mis Resultados</a></li>
              <li><a [routerLink]="['/pacienteDetalle']">Mi Historial</a></li>              
              <li><a >Mi Perfil</a>
                <ul>
                  <li><a [routerLink]="['/subscription']">Suscribirse</a></li>
                  <li><a [routerLink]="['/editPatient']">Mi cuenta</a></li>
                  <li><a [routerLink]="['/login']">Logout</a>
                </ul>
              </li>
            </ul>
          </div>
        
        </div>
       
      </header>
      <div class="w3-content">
        <img class="mySlides" src="./assets/doctora.jpg" alt="custom_html_banner1" style="width:100%">
        <div class="texto1">Nosotros nos preocupamos por ti, estamos aqui para ti, <br>quedate en casa y usa nuestro servicio <br> para saber si tienes
        el virus. <br> Aqui te dejamos una vista de hospitales cercanos a ti por si lo necesitas.</div>
        <button class="button"><span>Button</span></button>
       </div>
      
      <section class="login">

        <!-- <h3 class =h3>
          Si te sientes mal ve a un hospital
          <br> 
          Estos hospitales estan cerca de ti!
          <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> 
        </h3>
        
        <br> 
        <br>
        <agm-map 
           [latitude]="mylat" 
           [longitude]="mylng"
           [zoom]= "zoom">

           <agm-marker *ngFor="let p of hospitales"
              [latitude]="p.latitud" 
              [longitude]="p.longitud"
              [iconUrl]="{ url: 'https://www.shareicon.net/data/512x512/2016/08/04/806609_medical_512x512.png' ,scaledSize: {height:40 , width: 40 } } ">

              <agm-info-window>
                 <p> {{ p.hospital }}  </p>
              </agm-info-window>
           </agm-marker>

           <agm-marker 
           [latitude]="mylat" 
           [longitude]="mylng"
           [iconUrl]="{ url: 'https://play-lh.googleusercontent.com/VDmRjft8U-opY3txa_Q5pQKoleyVchZGCclpw0c7Dwiv2z62K19kMpOY0ZF7c9ODDbc' ,scaledSize: {height:50 , width: 40 } } ">
        </agm-marker>


         </agm-map> -->
    
     
    </section>

      <footer class="footer">
        <a href="/">Terminos de uso</a>
        <a href="/">Declaración de privacidad</a>
        <a href="/">Centro de ayuda</a>
        <a href="/">Quienes somos</a>
      </footer>

</body>