<div align="center">
    <form class="form-horizontal">
    <fieldset>
    <div class="form-group">
    <strong><label class="col-md-4 control-label" for="textinput">Fiebre</label></strong>
      <div class="col-md-4">
      {{sintomas.fever}}
      </div>
    </div>
    <div class="form-group">
      <strong><label class="col-md-4 control-label" for="textinput">Tos Seca</label></strong>
      <div class="col-md-4">
        {{sintomas.dryCough}}
      </div>
    </div>
    <div class="form-group">
      <strong> <label class="col-md-4 control-label" for="textinput">Cansancio</label>
      </strong>
         <div class="col-md-4">
        {{sintomas.runningSe}}
      </div>
    </div>
    <div class="form-group">
     <strong> <label class="col-md-4 control-label" for="Cliente">Garganta</label></strong>
      <div class="col-md-4">
        {{sintomas.asthma}}
      </div>
    </div>
    
    <div class="form-group">
      <strong><label class="col-md-4 control-label" for="textinput">Perdida de Olfato</label></strong>
      <div class="col-md-4">
        {{sintomas.headache}}
      </div>
    </div>
    <div class="form-group">
         <div class="col-md-4">
        <button (click)="volver()" id="singlebutton" name="singlebutton" class="btn btn-primary">Volver</button>
      </div>
    </div>
  
    </fieldset>
    </form>
  
  </div>
  