<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <title>Registro</title>
</head>
<body>
   <section class="main">
   <h1>Sintomas</h1>
   <p>Marque los sintomas que usted padece en el siguiente formulario</p>
    <section class="main__container"> 
    <form class="login__container--form" #myForm="ngForm" (submit)="submitForm(myForm)" novalidate>

         <!-- difilcutadRespirar -->
         <h1>Tiene difilcutad al Respirar</h1>
         <div class="custom-control custom-radio">
            <input id="siDR" type="radio" class="custom-control-input" value="si" name="difilcutadRespirar" #difilcutadRespirar="ngModel" [(ngModel)]="sintomas.breathingProblem" required>
            <label class="custom-control-label" for="siDR">Si</label>
         </div>
      
         <div class="custom-control custom-radio">
            <input id="noDR" type="radio" class="custom-control-input" value="no" name="difilcutadRespirar" #difilcutadRespirar="ngModel" [(ngModel)]="sintomas.breathingProblem" required>
            <label class="custom-control-label" for="noDR">No</label>
         </div>
      
         <div *ngIf="isSubmitted && myForm.invalid && difilcutadRespirar.invalid">
            <p class = "text-danger">Debe seleccionar una opcion</p>
         </div>

        <!-- Fiebre -->
        <h1>Tiene fiebre</h1>
        <div class="custom-control custom-radio">
           <input id="siF" type="radio" class="custom-control-input" value="si" name="fiebre" #fiebre="ngModel" [(ngModel)]="sintomas.fever" required>
           <label class="custom-control-label" for="siF">Si</label>
        </div>
     
        <div class="custom-control custom-radio">
           <input id="noF" type="radio" class="custom-control-input" value="no" name="fiebre" #fiebre="ngModel" [(ngModel)]="sintomas.fever" required>
           <label class="custom-control-label" for="noF">No</label>
        </div>
     
        <div *ngIf="isSubmitted && fiebre.invalid && myForm.invalid" >
           <p class = "text-danger">Debe seleccionar una opcion</p>
        </div>

         <!-- Tos Seca -->
         <h1>Tiene tos Seca</h1>
         <div class="custom-control custom-radio">
            <input id="siT" type="radio" class="custom-control-input" value="si" name="tos" #tos="ngModel" [(ngModel)]="sintomas.dryCough" required>
            <label class="custom-control-label" for="siT">Si</label>
         </div>
      
         <div class="custom-control custom-radio">
            <input id="noT" type="radio" class="custom-control-input" value="no" name="tos" #tos="ngModel" [(ngModel)]="sintomas.dryCough" required>
            <label class="custom-control-label" for="noT">No</label>
         </div>
      
         <div *ngIf="isSubmitted && tos.invalid && myForm.invalid">
            <p class = "text-danger">Debe seleccionar una opcion</p>
         </div>

         <!-- garganta -->
         <h1>Tiene dolores de Garganta</h1>
         <div class="custom-control custom-radio">
            <input id="siG" type="radio" class="custom-control-input" value="si" name="garganta" #garganta="ngModel" [(ngModel)]="sintomas.soreThroat" required>
            <label class="custom-control-label" for="siG">Si</label>
         </div>
      
         <div class="custom-control custom-radio">
            <input id="noG" type="radio" class="custom-control-input" value="no" name="garganta" #garganta="ngModel" [(ngModel)]="sintomas.soreThroat" required>
            <label class="custom-control-label" for="noG">No</label>
         </div>
      
         <div *ngIf="isSubmitted && myForm.invalid && garganta.invalid">
            <p class = "text-danger">Debe seleccionar una opcion</p>
         </div>

         <!-- Nariz congestionada -->
         <h1>Tiene la nariz congestionada</h1>
         <div class="custom-control custom-radio">
            <input id="siNC" type="radio" class="custom-control-input" value="si" name="nariz" #nariz="ngModel" [(ngModel)]="sintomas.runningSe" required>
            <label class="custom-control-label" for="siNC">Si</label>
         </div>
      
         <div class="custom-control custom-radio">
            <input id="noNC" type="radio" class="custom-control-input" value="no" name="nariz" #nariz="ngModel" [(ngModel)]="sintomas.runningSe" required>
            <label class="custom-control-label" for="noNC">No</label>
         </div>
      
         <div *ngIf="isSubmitted && myForm.invalid && nariz.invalid">
            <p class = "text-danger">Debe seleccionar una opcion</p>
         </div>

         <!-- Asma -->
         <h1>Tiene Asma</h1>
         <div class="custom-control custom-radio">
            <input id="siAS" type="radio" class="custom-control-input" value="si" name="asma" #asma="ngModel" [(ngModel)]="sintomas.asthma" required>
            <label class="custom-control-label" for="siAS">Si</label>
         </div>
      
         <div class="custom-control custom-radio">
            <input id="noAS" type="radio" class="custom-control-input" value="no" name="asma" #asma="ngModel" [(ngModel)]="sintomas.asthma" required>
            <label class="custom-control-label" for="noAS">No</label>
         </div>
      
         <div *ngIf="isSubmitted && myForm.invalid && asma.invalid">
            <p class = "text-danger">Debe seleccionar una opcion</p>
         </div>
         
         <!-- Enfermedad pulmonar cronica -->
         <h1>Tiene enfermedad pulmonar cronica</h1>
         <div class="custom-control custom-radio">
            <input id="siPC" type="radio" class="custom-control-input" value="si" name="chronicLungDisease" #chronicLungDisease="ngModel" [(ngModel)]="sintomas.chronicLungDisease" required>
            <label class="custom-control-label" for="siPC">Si</label>
         </div>
      
         <div class="custom-control custom-radio">
            <input id="noPC" type="radio" class="custom-control-input" value="no" name="chronicLungDisease" #chronicLungDisease="ngModel" [(ngModel)]="sintomas.chronicLungDisease" required>
            <label class="custom-control-label" for="noPC">No</label>
         </div>
      
         <div *ngIf="isSubmitted && myForm.invalid && chronicLungDisease.invalid">
            <p class = "text-danger">Debe seleccionar una opcion</p>
         </div>

         <!-- dolorCabeza -->
         <h1>Tiene Dolor de cabeza</h1>
         <div class="custom-control custom-radio">
            <input id="siDC" type="radio" class="custom-control-input" value="si" name="dolorCabeza" #dolorCabeza="ngModel" [(ngModel)]="sintomas.headache" required>
            <label class="custom-control-label" for="siDC">Si</label>
         </div>
      
         <div class="custom-control custom-radio">
            <input id="noDC" type="radio" class="custom-control-input" value="no" name="dolorCabeza" #dolorCabeza="ngModel" [(ngModel)]="sintomas.headache" required>
            <label class="custom-control-label" for="noDC">No</label>
         </div>
      
         <div *ngIf="isSubmitted && myForm.invalid && dolorCabeza.invalid">
            <p class = "text-danger">Debe seleccionar una opcion</p>
         </div>

         <!-- Cardio Patia -->
         <h1>Tiene Cardio Patia</h1>
         <div class="custom-control custom-radio">
            <input id="siCP" type="radio" class="custom-control-input" value="si" name="heartDisease" #heartDisease="ngModel" [(ngModel)]="sintomas.heartDisease" required>
            <label class="custom-control-label" for="siCP">Si</label>
         </div>
      
         <div class="custom-control custom-radio">
            <input id="noCP" type="radio" class="custom-control-input" value="no" name="heartDisease" #heartDisease="ngModel" [(ngModel)]="sintomas.heartDisease" required>
            <label class="custom-control-label" for="noCP">No</label>
         </div>
      
         <div *ngIf="isSubmitted && myForm.invalid && heartDisease.invalid">
            <p class = "text-danger">Debe seleccionar una opcion</p>
         </div>

         <!-- Diabetes -->
         <h1>Tiene Diabetes</h1>
         <div class="custom-control custom-radio">
            <input id="siD" type="radio" class="custom-control-input" value="si" name="diabetes" #diabetes="ngModel" [(ngModel)]="sintomas.diabetes" required>
            <label class="custom-control-label" for="siD">Si</label>
         </div>
      
         <div class="custom-control custom-radio">
            <input id="noD" type="radio" class="custom-control-input" value="no" name="diabetes" #diabetes="ngModel" [(ngModel)]="sintomas.diabetes" required>
            <label class="custom-control-label" for="noD">No</label>
         </div>
         <div *ngIf="isSubmitted && myForm.invalid && dolorCabeza.invalid">
            <p class = "text-danger">Debe seleccionar una opcion</p>
         </div>

         <!-- Hipertension -->
         <h1>Tiene Hipertension</h1>
         <div class="custom-control custom-radio">
            <input id="siHT" type="radio" class="custom-control-input" value="si" name="hyperTension" #hyperTension="ngModel" [(ngModel)]="sintomas.hyperTension" required>
            <label class="custom-control-label" for="siHT">Si</label>
         </div>
      
         <div class="custom-control custom-radio">
            <input id="noHT" type="radio" class="custom-control-input" value="no" name="hyperTension" #hyperTension="ngModel" [(ngModel)]="sintomas.hyperTension" required>
            <label class="custom-control-label" for="noHT">No</label>
         </div>
         <div *ngIf="isSubmitted && myForm.invalid && hyperTension.invalid">
            <p class = "text-danger">Debe seleccionar una opcion</p>
         </div>

         <!-- Fatiga -->
         <h1>Tiene Fatiga</h1>
         <div class="custom-control custom-radio">
            <input id="siFT" type="radio" class="custom-control-input" value="si" name="fatigue" #fatigue="ngModel" [(ngModel)]="sintomas.fatigue" required>
            <label class="custom-control-label" for="siFT">Si</label>
         </div>
      
         <div class="custom-control custom-radio">
            <input id="noFT" type="radio" class="custom-control-input" value="no" name="fatigue" #fatigue="ngModel" [(ngModel)]="sintomas.fatigue" required>
            <label class="custom-control-label" for="noFT">No</label>
         </div>
         <div *ngIf="isSubmitted && myForm.invalid && fatigue.invalid">
            <p class = "text-danger">Debe seleccionar una opcion</p>
         </div>

         <!-- Gatrointestinal -->
         <h1>Tiene gastrointestinal</h1>
         <div class="custom-control custom-radio">
            <input id="siGI" type="radio" class="custom-control-input" value="si" name="gastrointestinal" #gastrointestinal="ngModel" [(ngModel)]="sintomas.gastrointestinal" required>
            <label class="custom-control-label" for="siGI">Si</label>
         </div>
      
         <div class="custom-control custom-radio">
            <input id="noGI" type="radio" class="custom-control-input" value="no" name="gastrointestinal" #gastrointestinal="ngModel" [(ngModel)]="sintomas.gastrointestinal" required>
            <label class="custom-control-label" for="noGI">No</label>
         </div>
         <div *ngIf="isSubmitted && myForm.invalid && gastrointestinal.invalid">
            <p class = "text-danger">Debe seleccionar una opcion</p>
         </div>

          <!-- Viajes al Extranjero -->
          <h1>Usted Viajo</h1>
          <div class="custom-control custom-radio">
             <input id="siV" type="radio" class="custom-control-input" value="si" name="abroadTravel" #abroadTravel="ngModel" [(ngModel)]="sintomas.abroadTravel" required>
             <label class="custom-control-label" for="siV">Si</label>
          </div>
       
          <div class="custom-control custom-radio">
             <input id="noV" type="radio" class="custom-control-input" value="no" name="abroadTravel" #abroadTravel="ngModel" [(ngModel)]="sintomas.abroadTravel" required>
             <label class="custom-control-label" for="noV">No</label>
          </div>
          <div *ngIf="isSubmitted && myForm.invalid && abroadTravel.invalid">
             <p class = "text-danger">Debe seleccionar una opcion</p>
          </div>

          <!-- Viajes al Extranjero -->
          <h1>Tuvo contacto con el paciente Covid </h1>
          <div class="custom-control custom-radio">
             <input id="siCC" type="radio" class="custom-control-input" value="si" name="contactWithCovidPatient" #contactWithCovidPatient="ngModel" [(ngModel)]="sintomas.contactWithCovidPatient" required>
             <label class="custom-control-label" for="siCC">Si</label>
          </div>
       
          <div class="custom-control custom-radio">
             <input id="noCC" type="radio" class="custom-control-input" value="no" name="contactWithCovidPatient" #contactWithCovidPatient="ngModel" [(ngModel)]="sintomas.contactWithCovidPatient" required>
             <label class="custom-control-label" for="noCC">No</label>
          </div>
          <div *ngIf="isSubmitted && myForm.invalid && contactWithCovidPatient.invalid">
             <p class = "text-danger">Debe seleccionar una opcion</p>
          </div>

          <!-- Asisitio a una reunion -->
          <h1>Usted Asistio a una reunion </h1>
          <div class="custom-control custom-radio">
             <input id="siAR" type="radio" class="custom-control-input" value="si" name="attendedLargeGathering" #attendedLargeGathering="ngModel" [(ngModel)]="sintomas.attendedLargeGathering" required>
             <label class="custom-control-label" for="siAR">Si</label>
          </div>
       
          <div class="custom-control custom-radio">
             <input id="noAR" type="radio" class="custom-control-input" value="no" name="attendedLargeGathering" #attendedLargeGathering="ngModel" [(ngModel)]="sintomas.attendedLargeGathering" required>
             <label class="custom-control-label" for="noAR">No</label>
          </div>
          <div *ngIf="isSubmitted && myForm.invalid && attendedLargeGathering.invalid">
             <p class = "text-danger">Debe seleccionar una opcion</p>
          </div>

          <!-- Visitar lugares publicos -->
          <h1>Usted visito lugares publicos </h1>
          <div class="custom-control custom-radio">
             <input id="siVP" type="radio" class="custom-control-input" value="si" name="visitedPublicExposedPlaces" #visitedPublicExposedPlaces="ngModel" [(ngModel)]="sintomas.visitedPublicExposedPlaces" required>
             <label class="custom-control-label" for="siVP">Si</label>
          </div>
       
          <div class="custom-control custom-radio">
             <input id="noVP" type="radio" class="custom-control-input" value="no" name="visitedPublicExposedPlaces" #visitedPublicExposedPlaces="ngModel" [(ngModel)]="sintomas.visitedPublicExposedPlaces" required>
             <label class="custom-control-label" for="noVP">No</label>
          </div>
          <div *ngIf="isSubmitted && myForm.invalid && visitedPublicExposedPlaces.invalid">
             <p class = "text-danger">Debe seleccionar una opcion</p>
          </div>

          <!-- Familia trabaja en lugares publicos -->
          <h1>Su familia trabaja en lugares expuestos </h1>
          <div class="custom-control custom-radio">
             <input id="siFE" type="radio" class="custom-control-input" value="si" name="familyWorkingInPublicExposedPlaces" #familyWorkingInPublicExposedPlaces="ngModel" [(ngModel)]="sintomas.familyWorkingInPublicExposedPlaces" required>
             <label class="custom-control-label" for="siFE">Si</label>
          </div>
       
          <div class="custom-control custom-radio">
             <input id="noFE" type="radio" class="custom-control-input" value="no" name="familyWorkingInPublicExposedPlaces" #familyWorkingInPublicExposedPlaces="ngModel" [(ngModel)]="sintomas.familyWorkingInPublicExposedPlaces" required>
             <label class="custom-control-label" for="noFE">No</label>
          </div>
          <div *ngIf="isSubmitted && myForm.invalid && familyWorkingInPublicExposedPlaces.invalid">
             <p class = "text-danger">Debe seleccionar una opcion</p>
          </div>

           <!-- Uso de macara -->
           <h1>Utiliza mascara </h1>
           <div class="custom-control custom-radio">
              <input id="siUM" type="radio" class="custom-control-input" value="si" name="wearingMasks" #wearingMasks="ngModel" [(ngModel)]="sintomas.wearingMasks" required>
              <label class="custom-control-label" for="siUM">Si</label>
           </div>
        
           <div class="custom-control custom-radio">
              <input id="noUM" type="radio" class="custom-control-input" value="no" name="wearingMasks" #wearingMasks="ngModel" [(ngModel)]="sintomas.wearingMasks" required>
              <label class="custom-control-label" for="noUM">No</label>
           </div>
           <div *ngIf="isSubmitted && myForm.invalid && wearingMasks.invalid">
              <p class = "text-danger">Debe seleccionar una opcion</p>
           </div>

           <!-- Desinfecta -->
           <h1>Utiliza desinfectante </h1>
           <div class="custom-control custom-radio">
              <input id="siDI" type="radio" class="custom-control-input" value="si" name="sanitizationFromMarket" #sanitizationFromMarket="ngModel" [(ngModel)]="sintomas.sanitizationFromMarket" required>
              <label class="custom-control-label" for="siDI">Si</label>
           </div>
        
           <div class="custom-control custom-radio">
              <input id="noDI" type="radio" class="custom-control-input" value="no" name="sanitizationFromMarket" #sanitizationFromMarket="ngModel" [(ngModel)]="sintomas.sanitizationFromMarket" required>
              <label class="custom-control-label" for="noDI">No</label>
           </div>
           <div *ngIf="isSubmitted && myForm.invalid && sanitizationFromMarket.invalid">
              <p class = "text-danger">Debe seleccionar una opcion</p>
           </div>
        <!-- Submit Button -->
        <button type="submit" class="button">Revisar</button>
     </form>
     <div (ngSubmit)="Obtener()">
      <small class = "text-danger">{{sintomas.covid}}</small>
     </div>
     
   
   </section>
      
   </section>
   
</body>

</html>
