<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Bienvenido a sus Graficos doctor</h1>
    </header>
    <div class=" mt-5 pt-5">
        <div class="row">
            <div class="col-5 pl-5 mt-5">
                <h2>Graficos</h2>
                <br>
                <h3>Aqui puede ver la informacion sobre sus pacientes</h3>
                <br>
                <button class="button" (click)="shuffeData()">Actulizar</button>
            </div>    
            <div class="col-7">
                <div class="grafo">
                    <canvas baseChart
                    [datasets]="lineChartData"
                    [labels]="linerChartLabels"
                    [options]="lineChartOptions"
                    [colors]="lineChartColors"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType"
                    [plugins]="lineChartPlugins">
                    </canvas>
                    <div class="grafo">
                        <canvas baseChart
                        [datasets]="lineChartData1"
                        [labels]="linerChartLabels1"
                        [options]="lineChartOptions1"
                        [colors]="lineChartColors1"
                        [legend]="lineChartLegend1"
                        [chartType]="lineChartType1"
                        [plugins]="lineChartPlugins1">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
